html{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-sans, Ubuntu, Cantarell, "heHelvetica Neue", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

h1{
  font: "playfair Display", serif;
  font-size: 36px;
}

h2{
  font: "Playfair Display", serif;
  font-size: 30px;
}

@media only screen (minwidth: 600px){
  .book{
    max-width: 75vw;
  }
}

@media only screen (min-width: 900px){
  .book{
    max-width: 50vw;
  }
}
